<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Port" value="" />
    <add key="Address" value="127.0.0.1" />
    <add key="Login" value="master" />
    <add key="Password" value="master" />
    <add key="DataBaseName" value="organicadb" />
    <add key="PathToBlowingMachineReport" value="D:\ApkaRaporty\Spieniarka" />
    <add key="IsOpenReportAfterSaved" value="true" />  <!--Mowi czy raport ma zostac otwarty zaraz po jego zapisaniu-->  
  </appSettings>
</configuration>
