<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Port" value=""/>
    <add key="Address" value="127.0.0.1"/>
    <add key="Login" value="master"/>
    <add key="Password" value="master"/>
    <add key="DataBaseName" value="organicadb"/>
    <add key="PathToLogFile" value="D:\ApkaRaporty\\pomiary.log"/>
    <add key="CmdCommand" value="ftp.exe -s:D:\\ApkaRaporty\\TOMachineReportApp\\SpieniarkaApplication\\mojFTP.txt 192.168.0.220"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>